.main_pg{
    background: url(../img/main-pg/main-pg-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @include breakpoint($mobile-bp){
        align-items: center;
    } 
}
.main_pg_content{
    width: 50%;
    h1{
        font-family: 'Grand Hotel', cursive;
        font-size: 10rem;
        color: #ffc200;
        margin-bottom: 20px;
    }
    div{
        max-width: 70%;
        font-size: 2rem;
        color: #fff;
        line-height: 1.5;
        margin-bottom: 50px;
        @include breakpoint($mobile-bp){
            max-width: 90%;
            margin: 0 auto 50px;
        }
    }
    @include breakpoint($mobile-bp){
        text-align: center;
    }
}